<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ /* Copyright 2021 1Flow, Inc.
  ~
  ~
  ~  Licensed under the Apache License, Version 2.0 (the "License");
  ~  you may not use this file except in compliance with the License.
  ~  You may obtain a copy of the License at
  ~
  ~       http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~  Unless required by applicable law or agreed to in writing, software
  ~  distributed under the License is distributed on an "AS IS" BASIS,
  ~  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  See the License for the specific language governing permissions and
  ~ limitations under the License.*/
  ~
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oneflow.analytics">


    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!--android:icon="@mipmap/ic_launcher_sdk"
    android:roundIcon="@mipmap/ic_launcher_round_sdk"
    android:label="@string/app_name"
    -->

    <application

        android:supportsRtl="true"
        android:theme="@style/Theme.TrySkySDK">

        <activity android:name="com.oneflow.analytics.ProjectSetup">

        </activity>
        <activity android:name="com.oneflow.analytics.OFFirstActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>-->
        <!--android:theme="@style/AppDialog"-->
        <activity
            android:name="com.oneflow.analytics.OFSurveyActivityBottom"
            android:theme="@style/CDialogThemeBottom"

            >

        </activity>
        <!--android:configChanges="orientation|keyboardHidden|screenSize"-->
        <activity
            android:name="com.oneflow.analytics.OFSurveyActivityCenter"
            android:theme="@style/CDialogThemeCenter"
            >

        </activity>
        <activity
            android:name="com.oneflow.analytics.OFSurveyActivityBannerTop"
            android:theme="@style/CDialogThemeBannerTop"

            >

        </activity>
        <activity
            android:name="com.oneflow.analytics.OFSurveyActivityBannerBottom"
            android:theme="@style/CDialogThemeBottom"

            >

        </activity>
        <activity
            android:name="com.oneflow.analytics.OFSurveyActivityTop"
            android:theme="@style/CDialogThemeTop"

            >

        </activity>
        <activity
            android:name="com.oneflow.analytics.OFSurveyActivityFullScreen"
            android:theme="@style/CDialogThemeFullScreen"

            >

        </activity>
    </application>

</manifest>